<?xml version="1.0" encoding="UTF-8"?>
<gmd:MD_Metadata xmlns:gmd="http://www.isotc211.org/2005/gmd"
                 xmlns:srv="http://www.isotc211.org/2005/srv"
                 xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml"
                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xmlns:geonet="http://www.fao.org/geonetwork"
                 xsi:schemaLocation="http://www.isotc211.org/2005/gmd http://www.isotc211.org/2005/gmd/gmd.xsd    http://www.opengis.net/gml http://www.opengis.net/gml/gml.xsd"
                 xmlns:dcat="http://www.w3.org/ns/dcat#"
                 xmlns:dcam="http://purl.org/dc/dcam/"
                 xmlns:aglsterms="http://www.agls.gov.au/agls/terms/"
                 xmlns:agentterms="http://www.agls.gov.au/agls/agentterms/"
                 xmlns:availterms="http://www.agls.gov.au/agls/availterms/"
                 xmlns:adminterms="http://www.agls.gov.au/agls/adminterms/"
                 xmlns:dct="http://purl.org/dc/terms/">
    {% set org = c.pkg_dict.get('organization') %}
    {% set language = c.pkg_dict.get('language') or 'eng' %}
    <gmd:fileIdentifier>
        <gco:CharacterString>{{ c.pkg_dict['id'] }}</gco:CharacterString>
    </gmd:fileIdentifier>
    <gmd:language>
        <gco:CharacterString>{{ language }}</gco:CharacterString>
    </gmd:language>
    <gmd:characterSet>
        <gmd:MD_CharacterSetCode codeListValue="utf8"
                                 codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode">
            utf8
        </gmd:MD_CharacterSetCode>
    </gmd:characterSet>
    <gmd:hierarchyLevel>
        <gmd:MD_ScopeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode"
                          codeListValue="dataset">{{ c.pkg_dict['type'] }}
        </gmd:MD_ScopeCode>
    </gmd:hierarchyLevel>
    <gmd:contact>
        <gmd:CI_ResponsibleParty>
            {% if org %}
                <gmd:organisationName>
                    <gco:CharacterString>{{ org['title'] }}</gco:CharacterString>
                </gmd:organisationName>
                <gmd:contactInfo>
                    <gmd:CI_Contact>
                        <gmd:phone>
                            <gmd:CI_Telephone>
                            {% set telephone = h.get_pkg_dict_extra(h.get_org_full(org['id']), 'telephone') %}
                                {% if telephone %}
                                    <gmd:voice>
                                        <gco:CharacterString>{{ telephone }}</gco:CharacterString>
                                    </gmd:voice>
                                {% endif %}
                            </gmd:CI_Telephone>
                        </gmd:phone>
                        <gmd:address>
                            <gmd:CI_Address>
                                {% if c.pkg_dict.get('contact_point') %}
                                    <gmd:electronicMailAddress>
                                        <gco:CharacterString>{{ c.pkg_dict['contact_point'] }}</gco:CharacterString>
                                    </gmd:electronicMailAddress>
                                {% endif %}
                            </gmd:CI_Address>
                        </gmd:address>
                    </gmd:CI_Contact>
                </gmd:contactInfo>
                <gmd:role>
                    <gmd:CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode"
                                     codeListValue="pointOfContact">pointOfContact
                    </gmd:CI_RoleCode>
                </gmd:role>
            {% endif %}
        </gmd:CI_ResponsibleParty>
    </gmd:contact>
    <gmd:dateStamp>
        <gco:Date>{{ c.pkg_dict['metadata_modified'] }}</gco:Date>
    </gmd:dateStamp>
    <gmd:metadataStandardName>
        <gco:CharacterString>ANZLIC Metadata Profile: An Australian/New Zealand Profile of AS/NZS ISO 19115:2005,
            Geographic information - Metadata
        </gco:CharacterString>
    </gmd:metadataStandardName>
    <gmd:metadataStandardVersion>
        <gco:CharacterString>1.1</gco:CharacterString>
    </gmd:metadataStandardVersion>
    <gmd:identificationInfo>
        <gmd:MD_DataIdentification>
            <gmd:citation>
                <gmd:CI_Citation>
                    <gmd:title>
                        <gco:CharacterString>{{ c.pkg_dict['name'] }}</gco:CharacterString>
                    </gmd:title>
                    <gmd:date>
                        <gmd:CI_Date>
                            <gmd:date>
                                <gco:Date>{{ c.pkg_dict['metadata_created'] }}</gco:Date>
                            </gmd:date>
                            <gmd:dateType>
                                <gmd:CI_DateTypeCode
                                        codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode"
                                        codeListValue="publication">publication</gmd:CI_DateTypeCode>
                            </gmd:dateType>
                        </gmd:CI_Date>
                    </gmd:date>
                    <edition>
                        <gco:CharacterString>{{ c.pkg_dict['revision_id'] }}</gco:CharacterString>
                    </edition>
                    <identifier>
                        <MD_Identifier>
                            <code>
                                <gco:CharacterString>{{ c.pkg_dict['id'] }}</gco:CharacterString>
                            </code>
                        </MD_Identifier>
                    </identifier>
                    <citedResponsibleParty>
                        {% if org %}
                            <CI_ResponsibleParty>
                                <individualName>
                                    <gco:CharacterString>{{ org['title'] }}</gco:CharacterString>
                                </individualName>
                                <role>
                                    <CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="author">author</CI_RoleCode>
                                </role>
                            </CI_ResponsibleParty>
                        {% endif %}
                    </citedResponsibleParty>
                </gmd:CI_Citation>
            </gmd:citation>
            <gmd:abstract>
                <gco:CharacterString>{{ c.pkg_dict['notes'] }}</gco:CharacterString>
            </gmd:abstract>
            <gmd:language>
                <gco:CharacterString>{{ language }}</gco:CharacterString>
            </gmd:language>
            {% set geospatial_topic = c.pkg_dict.get('geospatial_topic', []) %}
            {% if geospatial_topic %}
                <gmd:topicCategory>
                    {% if ',' not in geospatial_topic %}
                        <gmd:MD_TopicCategoryCode
                                codeList="http://asdd.ga.gov.au/asdd/profileinfo/gmxCodelists.xml#MD_TopicCategoryCode"
                                codeListValue="{{ geospatial_topic }}">{{ geospatial_topic }}</gmd:MD_TopicCategoryCode>
                    {% else %}
                        {% for topic in geospatial_topic.split(',') %}
                            <gmd:MD_TopicCategoryCode
                                    codeList="http://asdd.ga.gov.au/asdd/profileinfo/gmxCodelists.xml#MD_TopicCategoryCode"
                                    codeListValue="{{ topic }}">{{ topic }}</gmd:MD_TopicCategoryCode>
                        {% endfor %}
                    {% endif %}

                </gmd:topicCategory>
            {% endif %}
            {% set data_state = c.pkg_dict.get('data_state') %}
            {% if data_state %}
                <gmd:status>
                    <gco:CharacterString>{{ data_state }}</gco:CharacterString>
                </gmd:status>
            {% endif %}
            {% set spatial_box = h.spatial_bound(c.pkg_dict.get('spatial')) %}
            <gmd:extent>
                <gmd:EX_Extent>
                    {% if spatial_box != None %}
                        {% set minx, miny, maxx, maxy = spatial_box %}
                        <gmd:geographicElement>
                            <gmd:EX_GeographicBoundingBox>
                            <gmd:westBoundLongitude><gco:Decimal>{{ minx }}</gco:Decimal></gmd:westBoundLongitude>
                            <gmd:eastBoundLongitude><gco:Decimal>{{ maxx }}</gco:Decimal></gmd:eastBoundLongitude>
                            <gmd:southBoundLatitude><gco:Decimal>{{ miny }}</gco:Decimal></gmd:southBoundLatitude>
                            <gmd:northBoundLatitude><gco:Decimal>{{ maxy }}</gco:Decimal></gmd:northBoundLatitude>
                            </gmd:EX_GeographicBoundingBox>
                        </gmd:geographicElement>
                    {% endif %}
                    <gmd:temporalElement>
                        <gmd:EX_TemporalExtent>
                            <gmd:extent>
                                <gml:TimePeriod gml:id="TP01">
                                    <gml:beginPosition>{{ c.pkg_dict.get('temporal_coverage_from') }}</gml:beginPosition>
                                    <gml:endPosition>{{ c.pkg_dict.get('temporal_coverage_to') }}</gml:endPosition>
                                </gml:TimePeriod>
                            </gmd:extent>
                        </gmd:EX_TemporalExtent>
                    </gmd:temporalElement>
                </gmd:EX_Extent>
            </gmd:extent>
        </gmd:MD_DataIdentification>
    </gmd:identificationInfo>
</gmd:MD_Metadata>
