{% ckan_extends %}

{% block links -%}
{{ super() }}
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/" />

{% endblock -%}

{% block head_extras -%}
{{ super() }}
<meta name="DCTERMS.Language" scheme="RFC3066" content="en" />
<meta name="DCTERMS.Type" scheme="AGLSTERMS.Document" content="dataset" />
<meta name="DCTERMS.Creator" scheme="AGLSTERMS.AglsAgent" content="{{ pkg['organization']['title'] }}" />
<meta name="DCTERMS.Modified" scheme="DCTERMS.ISO8601" content="{{pkg['metadata_modified']}}" />
<meta name="DCTERMS.Published" scheme="DCTERMS.ISO8601" content="{{pkg['metadata_created']}}" />
<meta name="DCTERMS.Source.URI" content="{{pkg.url}}" />
<meta name="DCTERMS.License" content="{{pkg['license_url']}}" />
<meta name="DCTERMS.Coverage.Temporal" content="{{pkg.temporal_coverage}}" />
<meta name="DCTERMS.Coverage.Spatial" content="{{pkg.spatial_coverage}}" />
<meta name="AGLSTERMS.Jurisdiction" scheme="AGLSTERMS.AglsJuri" content="{{pkg.jurisdiction}}" />
<meta name="DCAT.Theme" scheme="VO" content="{% for x in pkg.groups %}{{x['title']}},{% endfor %}" />
<meta name="DCTERMS.Identifier" content="{{h.url_for(controller='package',action='read',id=c.pkg_dict['name'], qualified=True)}}" />
<meta name="DCTERMS.Title" content="{{pkg['title']}}" />
<meta name="DCTERMS.Description" scheme="" content="{{pkg['notes']}}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% endblock -%}

{% block package_info %}
<div class="module context-info">
    <div class="module-content">
        <h1 class="heading" property="dc:title">{{ pkg.title or pkg.name }}</h1>
        <div class="nums">
            <dl>
                <dt>{{ _('Followers') }}</dt>
                <dd>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</dd>
            </dl>
        </div>
        <div class="follow_button">
            {{ h.follow_button('dataset', pkg.name) }}
        </div>
    </div>
</div>
{% endblock %}

