{% ckan_extends %}

{% block links -%}
    {{ super() }}
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/"/>

{% endblock -%}

{% block head_extras -%}
    {{ super() }}
    <meta name="DCTERMS.Language" scheme="RFC3066" content="en"/>
    <meta name="DCTERMS.Type" scheme="AGLSTERMS.Document" content="dataset"/>
    <meta name="DCTERMS.Creator" scheme="AGLSTERMS.AglsAgent" content="{{ pkg['organization']['title'] }}"/>
    <meta name="DCTERMS.Modified" scheme="DCTERMS.ISO8601" content="{{ res['revision_timestamp'] }}"/>
    <meta name="DCTERMS.Published" scheme="DCTERMS.ISO8601" content="{{ res['created'] }}"/>
    <meta name="DCTERMS.Source.URI" content="{{ pkg.url }}"/>
    <meta name="DCTERMS.License" content="{{ pkg['license_url'] }}"/>
    <meta name="DCTERMS.Coverage.Temporal" content="{{ pkg.temporal_coverage }}"/>
    <meta name="DCTERMS.Coverage.Spatial" content="{{ pkg.spatial_coverage }}"/>
    <meta name="AGLSTERMS.Jurisdiction" scheme="AGLSTERMS.AglsJuri" content="{{ pkg.jurisdiction }}"/>
    <meta name="DCAT.Theme" scheme="VO" content="{% for x in pkg.groups %}{{ x['title'] }},{% endfor %}"/>
    <meta name="DCAT.byteSize" content="{{ res.get('size') }}"/>
    <meta name="DCAT.mediaType" content="{{ res.get('mimetype') }}"/>
    <meta name="DCTERMS.Identifier" content="{{ res.get('url') }}"/>
    <meta name="DCTERMS.Title" content="{{ res['name'] }}"/>
    <meta name="DCTERMS.Description" scheme="" content="{{ res['description'] }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="DCTERMS.Format" content="{{ res.format }}"/>
    <meta name="DCTERMS.File.Size" content="{{ res.size }}"/>

{% endblock -%}


{% block resource_additional_information_inner %}
<div class="module-content">
  <h2>{{ _('Additional Information') }}</h2>
  <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ _('Last updated') }}</th>
        <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
      </tr>
      {% if h.is_hosted(pkg) == "Linked" %}
        <th scope="row">{{ _('Update Information') }}</th>
        <td>This resource is automatically updated by the organisation according to the <b>Update Frequency</b> displayed on the dataset page.</td>
      {% endif %}
      <tr>
        <th scope="row">{{ _('Created') }}</th>
        <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Format') }}</th>
        <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('License') }}</th>
        <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
      </tr>
      {% for key, value in h.format_resource_items(res.items()) %}
        <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}