{#
Displays a datetime that can be converted to a users timezone using JavaScript.
In the data-datetime attribute, the date is rendered in ISO 8601 format.

datetime_obj   - the datetime object to display
pattern        - the datetime display pattern(examples at https://momentjs.com/)

Example:

    {% snippet 'snippets/agls_local_friendly_datetime, datetime_obj=pkg_dict.metadata_created, pattern='DD-MM-YYYY' %}

#}
{% set pattern = pattern if pattern else '' %}

<span data-module="agls-ltz"
    data-module-datetime="{{ h.render_datetime(datetime_obj, date_format='%Y-%m-%dT%H:%M:%S%z') }}"
    {% if pattern %}data-module-pattern="{{ pattern }}"{% endif %}>
    {{ h.render_datetime(datetime_obj) }}
</span>
