{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets %}

#}
{% block package_list %}
    {% if packages %}
        <ul class="{{ list_class or 'dataset-list unstyled' }}">
            {% block package_list_inner %}
                {% set first_package = True %}
                {% set first_remote_package = True %}
                {% for package in packages %}
                    {% if h.get_pkg_dict_extra(package,'harvest_portal') and first_remote_package%}
                    {% set first_remote_package = False %}
                    {% if first_package and request.params.get('page',1) == 1%}
<li class="dataset-item"><center><h2>There are no results on {{ g.site_title }} for this search but we can show results from other sites below</h2></center></li>
                        {% else%}
<li class="dataset-item"><center><h1>Results from other Australian data portals</h1></center></li>
                    {% endif %}
                    {% endif %}
                    {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
                    {% set first_package = False %}
                {% endfor %}
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}

