{% ckan_extends %}

{% block custom_fields %}

    {{ form.hidden('extras__0__key','jurisdiction') }}
   {{ form.select('extras__0__value', label=_('Jurisdiction'), id='field-jurisdiction',
options= [
        {'value': 'Government of South Australia'},
        {'value': 'Local Government'}
        ],
selected=h.get_pkg_dict_extra(data,'jurisdiction'), error=errors['extras__0__key'] or errors['extras__0__value'], classes=['control-medium'], is_required=true) }}
    
    {{ form.hidden('extras__1__key','website') }}
    {{ form.input('extras__1__value', label=_('Website'), id='field-website',
placeholder=_('Website/homepage of organisation'),
value=h.get_pkg_dict_extra(data,'website'), error=errors['extras__1__key'] or errors['extras__1__value'], classes=['control-medium']) }}

    {{ form.hidden('extras__2__key','email') }}
    {{ form.input('extras__2__value', label=_('Email'), id='field-email',
placeholder=_('Email contact for general open data enquiries'),
value=h.get_pkg_dict_extra(data,'email'), error=errors['extras__2__key'] or errors['extras__2__value'], classes=['control-medium']) }}

    {{ form.hidden('extras__3__key','telephone') }}
    {{ form.input('extras__3__value', label=_('Telephone'), id='field-telephone',
placeholder=_('Telephone contact for general open data enquiries'),
value=h.get_pkg_dict_extra(data,'telephone'), error=errors['extras__3__key'] or errors['extras__3__value'], classes=['control-medium']) }}
{#
    {{ form.hidden('extras__1__key','spatial_coverage') }}
    {{ form.input('extras__1__value', label=_('Geospatial Coverage'), id='field-spatial_coverage',
placeholder=_('Geospatial coverage of organisation jurisdiction as a gazetteer URL'),
value=h.get_pkg_dict_extra(data,'spatial_coverage'), error=errors['extras__1__key'] or errors['extras__1__value'], classes=['control-medium'], is_required=true) }}
#}
{% endblock %}
