{% ckan_extends %}

{% block package_basic_fields_tags %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
{% endblock %}

{% block package_basic_fields_org %}

    {{ super() }}

    {% call form.input('spatial_coverage', label=_('Geospatial Coverage'), id='field-spatial_coverage',
placeholder=_('The geographical area covered by the data. Eg: Whole of Australia, New South Wales, Canberra'),
value=data.spatial_coverage, error=errors.spatial_coverage, classes=['control-full']) %}
        <br/>
        Please input one of the following: 1) a point/polygon/bounding box; 2) an administrative boundary API; or 3) a
        reference ID from the <a href="http://www.ga.gov.au/place-names/">Gazatteer</a>.
        </span>
    {% endcall %}


    {{ form.input('temporal_coverage_from', label=_('Temporal Coverage From'), id='field-temporal_coverage-from',
placeholder=_('The timespan the dataset relates to: Current, 2008, 2008-2012, Jan 2012'),
value=data.temporal_coverage_from, error=errors.temporal_coverage_from, classes=['control-full']) }}

    {% call form.input('temporal_coverage_to', label=_('Temporal Coverage To'), id='field-temporal_coverage-to',
placeholder=_('The timespan the dataset relates to: Current, 2008, 2008-2012, Jan 2012'),
value=data.temporal_coverage_to, error=errors.temporal_coverage_to, classes=['control-full']) %}
        <br/>
        Where a dataset refers to only a single point in time please only complete the <b>'Temporal Coverage From'</b>.
        </span>
    {% endcall %}

    {% call form.select('data_state', label=_('Data Status'), options= [{'value': 'active', 'text': 'Active'}, {'value': 'inactive', 'text': 'Inactive'}],
selected='Active', error=errors.data_state) %}
    <br/>
    The status of the data with regard to whether it is kept updated (active, yes) or historic (inactive, no)
        </span>
    {% endcall %}


    {{ form.input('update_freq', label=_('Update Frequency'), id='field-update_freq',
placeholder=_('How often the dataset is updated. Eg: Daily, Weekly, Never'),
value=data.update_freq, error=errors.update_freq, classes=['control-full']) }}

    {% call form.checkbox('contact_info', checked=false, label='Expose User Contact Information', value=contact_info) %}
        <br/>
        Whether the user contact details should be public as well as the organisation contact details.
        </span>
    {% endcall %}

{% endblock %}