{% ckan_extends %}

{% block package_basic_fields_title %}
    {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}
{% endblock %}

{% block package_basic_fields_license %}
    <div class="control-group">
        {% set error = errors.license_id %}
        <span title="This field is required" class="control-required">*</span><label class="control-label"
                                                                                     for="field-license">{{ _("License") }}</label>

        <div class="controls">
            <select id="field-license" name="license_id" data-module="autocomplete">
                {% for license_desc, license_id in licenses|sort if license_desc %}
                    <option value="{{ license_id }}"
                            {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
                {% endfor %}
            </select>
            {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    <span class="info-block info-inline">
      <i class="icon-info-sign"></i>
        {% trans %}
            License definitions and additional information can be found
            at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
        {% endtrans %}
    </span>
        </div>
    </div>
{% endblock %}

{% block package_basic_fields_tags %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
{% endblock %}

{% block package_basic_fields_org %}

    {{ super() }}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% set org = organizations_available[0] %}
    {% if data.organization %}
        {% set org = data.organization %}
    {% endif %}
    {% set org_full = h.get_org_full(org.id) %}
    {% if h.group_id() %}
        {% set org_full = h.get_org_full(h.group_id()) %}
    {% endif %}

    {% call form.input('spatial_coverage', label=_('Geospatial Coverage'), id='field-spatial_coverage',
placeholder=_('The geographical area covered by the data. Eg: Whole of Australia, New South Wales, Canberra'),
value=data.spatial_coverage or data.spatial or h.get_pkg_dict_extra(org_full,'spatial_coverage'), error=errors.spatial_coverage, classes=['control-full'], is_required='true') %}
        <br/>
        Please input one of the following: 1) a point/polygon/bounding box; 2) an administrative boundary API; or 3) a
        URL reference from the
        <a href="https://toolkit.data.gov.au/index.php?title=How_to_use_data.gov.au#Extent">Gazetteer</a>.

    {% endcall %}
    <input type="hidden" id='spatial' name="spatial" value='{{ data.spatial or '{"type": "Point","coordinates": [151.12262200000001,-25.371967999999999]}' }}' />
    {% call form.input('temporal_coverage_from', label=_('Temporal Coverage From'), id='field-temporal_coverage-from',
placeholder=_('The timespan the dataset relates to: Current, 2008, 2008-2012, Jan 2012'),
value=data.temporal_coverage_from or data.temporal_coverage or h.get_pkg_dict_extra(data,'temporal_coverage'), error=errors.temporal_coverage_from, classes=['control-full'], is_required='true') %}
        <br/>
        What is the temporal coverage of your dataset? Please choose a single date or a from and to date.

    {% endcall %}

    {{ form.input('temporal_coverage_to', label=_('Temporal Coverage To'), id='field-temporal_coverage-to',
placeholder=_('The timespan the dataset relates to: Current, 2008, 2008-2012, Jan 2012'),
value=data.temporal_coverage_to, error=errors.temporal_coverage_to, classes=['control-full']) }}

    {{ form.input('language', label=_('Language'), id='field-language',
placeholder=_('If not English, language should be assigned a value'),
value=data.language or 'English', error=errors.language, classes=['control-full']) }}

    {% call form.select('data_state', label=_('Data Status'), options= [{'value': 'active', 'text': 'Active'}, {'value': 'inactive', 'text': 'Inactive'}],
selected='Active', error=errors.data_state, is_required='true') %}
        <br/>
        The status of the data with regard to whether it is kept updated (active, yes) or historic (inactive, no)
    {% endcall %}

    {% call form.select('update_freq', label=_('Update Frequency'), id='field-update_freq',

selected = data.update_freq, options=
[{'value': 'daily', 'text': 'Daily'},
{'value': 'weekly', 'text': 'Weekly'},
{'value': 'monthly', 'text': 'Monthly'},
{'value': 'quarterly', 'text': 'Quarterly'},
{'value': 'biennially', 'text': 'Biennially'},
{'value': 'biannually', 'text': 'Biannually'},
{'value': 'infrequently', 'text': 'Infrequently'},
{'value': 'never', 'text': 'Never/Static'},
{'value': 'other', 'text': 'Other (specify)'}]
,
error=errors.update_freq, classes=['control-full'], is_required='true') %}
        How often the dataset is updated. Eg: Daily, Weekly, Never
    {% endcall %}

    {% call form.checkbox('contact_info', checked=data.contact_info, label='Expose User Contact Information', value='True') %}
        <br/>
        <span title="This field is required" class="control-required">*</span>Whether the user contact details should be
        public as well as the organisation contact details.

    {% endcall %}
    {% if data.groups %}
        <div class="control-group">
            <label class="control-label">AGIFT Themes</label>

            <div class="controls">
                {% for group in data.groups %}
                    <label class="checkbox" for="field-group-{{ loop.index0 }}">
                        <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id"
                               value="{{ group.id }}" checked="checked"/>
                        {{ group.title }}
                    </label>
                {% endfor %}

            </div>
        </div>
    {% endif %}
    {% set group_name = 'groups__%s__id' % data.groups|length %}
    <div class="control-group control-full">

        <label class="control-label" for="field-group"><span title="This field is required"
                                                             class="control-required">*</span>AGIFT
            Function/Theme</label>

        <div class="controls">
            <select id="field-group" name="{{ group_name }}" data-module="autocomplete">
                {% for group in h.groups() %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endfor %}
            </select>
            <br/>
            The <a target="_blank" href="http://agift.naa.gov.au">AGIFT</a> top level government function to which the
            resource relates.

        </div>
    </div>
{% endblock %}
