{% ckan_extends %}
{% block basic_fields %}
    {{ super() }}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {{ form.input('maintainer', label=_('Publisher'), id='field-publisher',
placeholder=_('Email address for questions about content of dataset'),
value=data.maintainer  or data.organization.title or organizations_available[0].title, error=errors.maintainer, classes=['control-full']) }}

    {{ form.input('contact_point', label=_('Contact'), id='field-contact_point',
placeholder=_('Email address for questions about content of dataset'),
value=data.contact_point or data.organization.email or organizations_available[0].email, error=errors.contact_point, classes=['control-full']) }}

    {% call form.input('jurisdiction', label=_('Jurisdiction'), id='field-jurisdiction', value=data.jurisdiction or data.organization.jurisdiction or organizations_available[0].jurisdiction, error=errors.jurisdiction, classes=['control-full']) %}
    Name of Agency/publishing organisation.
    {% endcall %}
{% endblock %}

{% block metadata_fields %}
    {{ form.hidden('maintainer', c.user) }}
    {{ super() }}
{% endblock %}