{% ckan_extends %}
{% block basic_fields %}

    {{ super() }}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% set org = organizations_available[0] %}
    {% if data.organization %}
    {% set org = data.organization %}
    {% endif %}
    {% if h.group_id() and h.group_id() %}
        {% set org_full = h.get_org_full(h.group_id()) %}
    {% elif data.owner_org %}
        {% set org_full = h.get_org_full(data.owner_org) %}
    {% elif org %}
        {% set org_full = h.get_org_full(org.id) %}
    {% endif %}
    {% if not org_full %}
     {% set org_full = {'extras':{}} %}
    {% endif %}
    {% call form.input('author', label=_('Author'), id='field-author',
placeholder=_('Name of the Author of dataset'),
value=data.author, error=errors.author, classes=['control-full'], is_required=true) %}
    Name of authoring Agency/Organisation (if different from publisher
    {% endcall %}

    {{ form.input('contact_point', label=_('Contact'), id='field-contact_point',
placeholder=_('Email address for questions about content of dataset'),
value=data.contact_point or h.get_pkg_dict_extra(org_full,'email'), error=errors.contact_point, classes=['control-full'], is_required=true) }}

{% if h.is_site('nsw') %}
{% call form.input('jurisdiction', label=_('Jurisdiction'), id='field-jurisdiction',
value=data.jurisdiction or h.get_pkg_dict_extra(org_full,'jurisdiction') or 'New South Wales', error=errors.jurisdiction, classes=['control-full'], is_required=true) %}
{% endcall %}
{% else %}
{% call form.input('jurisdiction', label=_('Jurisdiction'), id='field-jurisdiction',
value=data.jurisdiction or h.get_pkg_dict_extra(org_full,'jurisdiction') or 'Commonwealth of Australia', error=errors.jurisdiction, classes=['control-full'], is_required=true) %}
{% endcall %}
{% endif %}

{% endblock %}

{% block metadata_fields %}
    {{ form.hidden('maintainer', c.user) }}
    {{ super() }}
{% endblock %}
