{% ckan_extends %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields %}

{{ super () }}
  {# snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 #}

{% endblock %}

{# https://github.com/okfn/ckan/blob/master/ckan/templates/macros/form.html documents the macros for fields #}

{# hide author/maintainer fields #}
{% block package_metadata_author %}
{% endblock %}

{% block package_metadata_fields_maintainer %}
{% endblock %}
{% block package_metadata_fields_url %}
{% endblock %}

{% block package_metadata_fields_version %}
{% endblock %}

{% block dataset_fields %}

{% endblock %}
