{% ckan_extends %}

{% block basic_fields_name %}
    {% call form.input('name', id='field-name', label=_('Name'), placeholder=_('Leave blank to use the default uploaded file name or enter a new name.'), value=data.name, error=errors.name, classes=['control-full']) %}
    {% endcall %}
{% endblock %}

{% block basic_fields_url %}
  {% set is_upload = (data.url_type == 'upload') %}
  {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
     is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
     upload_label=_('Data'), url_label=_('URL'), placeholder=_('http://example.com/external-data.csv'), field_name='name') }}
{% endblock %}

{% block basic_fields_format %}
  <div class="control-group control-full">
    <label class="control-label" for="field-format"><span title="This field is required"
        class="control-required"></span>Format</label>
    <div class="controls">
      <select id="field-format" name="format" data-module="autocomplete">
        <option value="">Please Select</option>

        {% for format in h.formats() %}
        <option value="{{ format }}">{{ format }}</option>
        {% endfor %}
      </select>

      <span class="info-block info-block-small">
        <i class="icon-info-sign"></i>
        {{ _('This will be guessed automatically. Leave blank if you wish') }}
      </span>
    </div>
</div>
{% endblock %}