{% ckan_extends %}
    {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
            <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search') }}" />
<input name="sort" type="hidden" value="extras_harvest_portal asc, score desc"/>
            <button name="search" class="btn-search" type="submit"><i class="icon-search"></i> Search</button>
          </div>
        </form>
      {% endblock %}
