{% ckan_extends %}
{% block scripts %}
{% resource 'ckanext-agls/styles/jquery-ui.js' %}
    {{ super() }}
    <script>
    function gazSearch(gazURL) {
        var re = new RegExp("submit1=(.*\\d)(&|$)");
        var m = re.exec(gazURL);
        if (m != null) {
            gazID = m[1];
            $.getJSON("/api/2/util/gazetteer/latlon?q=" + gazID, function (data) {
                if (data.geojson != undefined) {
                    $('#spatial').val(data.geojson);
                }
            })
        } else {
            var re2 = new RegExp("[a-zA-Z].*\\d");
            var m2 = re2.exec(gazURL);
            if (m2 != null) {
                gazID = m2[0];
                $.getJSON("/api/2/util/gazetteer/latlon?q=" + gazID, function (data) {
                    if (data.geojson != undefined) {
                        $('#spatial').val(data.geojson);
                    }
                })
            }
        }
    }
    var prev_handler = window.onload;
    window.onload = function () {
        if (prev_handler) {
            prev_handler();
        }
            $("#field-spatial_coverage").change(function (e) {
                gazURL = e.target.value;
                gazSearch(gazURL);
            });
            gazSearch($("#field-spatial_coverage").val());
            $(function() {
                $( "#field-temporal_coverage-from" ).datepicker();
                $( "#field-temporal_coverage-to" ).datepicker();
            });

        };

    </script>

{% endblock %}
